version: '3.8'

services:
  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - '3000:3000'
  #   depends_on:
  #     - postgres
  #     - kafka
  #   environment:
  #     DATABASE_URL: postgres://admin:admin@postgres:5432/content_pilot
  #     KAFKA_BROKER: kafka:9092
  #     JWT_SECRET_KEY: your_jwt_secret_here
  #     JWT_EXPIRATION_TIME: 7d
  #   restart: unless-stopped

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: content_pilot
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  kafka:
    image: bitnami/kafka:3.7
    container_name: kafka
    ports:
      - '9092:9092' # externo
    environment:
      - KAFKA_KRAFT_MODE=true
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LOG_DIRS=/bitnami/kafka/data
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
    networks:
      - backend
    volumes:
      - kafka_data:/bitnami/kafka

networks:
  backend:

volumes:
  postgres_data:
  kafka_data:
